body {
	background: #ddd;
	margin: 1rem;
	padding: 1rem;
	max-width: 500px;
	margin: 2rem auto;
	font-family: "Open Sans", sans-serif;
  }
  
  #profileBody {
	background: #c4f3f565;
	margin: 1rem;
	padding: 1rem;
	max-width: 500px;
	margin: 2rem auto;
	font-family: "Open Sans", sans-serif;
  }
  
  nav {
	border-bottom: 2px solid orange;
  }
  
  ol {
	padding-left: 0;
  }
  
  .crumb {
	margin-right: 2em;
	display: inline;
  }
  
  .profile {
	margin-right: 2em;
	display: inline;
  }
  
  #heading {
	font-family: "Arial Black", sans-serif;
	font-size: 30px;
	color: #2600ff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	border-top: 4px solid #ff4500;
	border-bottom: 4px solid #ff4500;
	text-align: center;
  }
  
  h3.section-heading {
	color: #009688;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
  }
  
  h2.section-heading {
	color: #009688;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
  }
  
  #profilePicture {
	margin: 10px auto;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
  }

  #neighborhoodPicture {
	margin: 10px auto;
	border-radius: 20%;
	width: 100%;
	height: 150px;
	object-fit: cover;
  }
  
  a {
	color: orange;
  }
  
  a:visited {
	color: crimson;
  }
  
  input {
	display: block;
	width: 50%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  #contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 20vh;
  }
  
  label {
	display: block;
	margin-bottom: 5px;
	text-align: left;
  }
  
  #contact > .contact-label {
	width: 52%; 
  }

  .submitButton {
	font-weight: 800;
	color: #ffffff;
	font-size: 18px;
	padding: 8px 16px;
	border: none;
	background-color: rgb(16, 212, 242);
	cursor: pointer;
	margin-bottom: 30px;
  }

  .favButtons {
	font-weight: 800;
	color: #ffffff;
	font-size: 10px;
	padding: 10px 10px;
	color:rgb(236, 9, 9);
	background-color: yellow;
	cursor: pointer;
  }
  